<configuration scan="true" scanPeriod="30 seconds" debug="false">

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %ex{0}%n</pattern>
      </encoder>
   </appender>

  <logger name="fr.xebia.ipbanner" level="WARN" />
  <logger name="fr.xebia.audit" level="INFO" />

   <root level="warn">
      <appender-ref ref="STDOUT" />
   </root>
</configuration>